<div class="usuarios">
    <h1>Log</h1>
    <small class="subtitle">Registro de Log</small>
 </div>
 <div class="panel widget light-widget panel-bd-top">
    <section class="col-md-12" id="section2" style="background-color: #FFF;">
       <div id="informacoesGerais">
          <h3 style="color: #C63131">Listagem de registro de eventos / log</h3>
       </div>
       <div class="table-responsive">

          <input class="form-control" type="text" name="search" [(ngModel)]="filter" />

          <table id="tblDados1" class="records1 table table-striped">
             <thead>
                <tr>
                   <th scope="col">ID</th>
                   <th scope="col">Nome</th>
                   <th scope="col">Login</th>
                   <th scope="col">CPF</th>
                   <th scope="col">E-mail</th>
                   <th scope="col">Senha</th>
                   <th scope="col">Bloqueado</th>
                   <th scope="col">Perfis</th>
                   <!--
                   <th scope="col">Criado</th>
                  <th scope="col">Editado</th>
                   -->
                </tr>
             </thead>
             <tbody>
               <tr *ngFor="let us of readData |filter:filter | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index" >
                   <td> {{us.id}} </td>
                   <td> {{us.nome}} </td>
                   <td> {{us.login}} </td>
                   <td> {{us.cpf}} </td>
                   <td> {{us.email}} </td>
                   <td> {{us.senha}} </td>
                   <td> {{us.bloqueado}} </td>
                   <td> {{us.perfis}} </td>
               </tr>
           </tbody>
          </table>

          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Anterior"
              nextLabel="Próximo"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>

       </div>
    </section>
 </div>
