<main class="main-content">

    <div class="historico" style="margin-top: -6px; margin-bottom:2px;">
        <span class="header-story" style="margin-left: 2px;">                           
        <a href="index.html"> <small>Home</small> / </a>           
        <a href="perfilusuario.html"> <small>Perfil de Usuários </small> / </a>
        <a href="novoperfildeusuario.html"> <small>Novo Perfil de Usuários </small> / </a>
        <small>Edição</small>
        </span> 
    </div>

    <div class="usuarios">
        <h1>Perfil de usuário</h1>
        <small>Cadastro e edição de perfil de usuário</small>
    </div>

    <div class="salvar-cancelar">
        <div class="salvar">   
            <button id="btnSalvar" >              
                <i class="fa fa-save"></i>
                <small>Salvar</small> 
            </button>  
        </div>
        <div class="cancelar">   
            <button id="btnCancelar">
                <i class="fa fa-close"></i> 
                <small>Cancelar</small>
            </button>                                               
        </div>
    </div>

    <section class="col-md-12" id="section2" style="background-color: #FFF;">
        <div id="informacoesGerais">
            <h3 style="color: #C63131">Filtro</h3>
        </div>
        <br>
        <form id="form-cad-perfil" class="form-horizontal" method="POST" [formGroup]="novoperfilusuario">
            <div class="col-md-12">
                <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="col-xs-3 col-form-label control-label">Bloqueado</label>
                                <div class="controls col-xs-9">
                                    <input type="checkbox" value="bloqueado"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="col-xs-3 col-form-label control-label">Perfil de Usuário</label>
                                <div class="controls col-xs-7">
                                    <input class="form-control" for="perfilUsuario" formControlName="perfilUsuario" name="perfilUsuario" type="text" placeholder="Informe o perfil de usuário">
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <hr>

            <br />
            <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color: #C63131">Tipo de Usuário</h3>
                    <div class="form-group row check_blok">
                        <div class="col-md-12">
                            <label class="col-xs-4 col-form-label control-label">Cliente</label>
                            <div class="controls col-xs-3">
                                <input class="check_blok" type="checkbox">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-4 col-form-label control-label">Colaborador</label>
                            <div class="controls col-xs-3">
                                <input class="check_blok" style="margin-top:15px;" type="checkbox">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-4 col-form-label control-label">Prestador</label>
                            <div class="controls col-xs-3">
                                <input class="check_blok" style="margin-top:15px;" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Tipo de Envio Faturamento</h4>
                    <div class="form-group row check_blok">
                        <div class="col-md-12">
                            <label class="col-xs-5 col-form-label control-label">Digitação</label>
                            <div class="controls col-xs-3">
                                <input class="check_blok" type="checkbox">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-xs-5 col-form-label control-label">Importação XML</label>
                            <div class="controls col-xs-3">
                                <input class="check_blok" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="col-xs-4 col-form-label control-label" style="color: #C63131;">Setor</label>
                                <div class="controls col-xs-6">
                                    <select class="form-control" name="perfilUsuario" id="perfil-select" style="cursor: pointer;">
                                        <option *ngFor="let n of option" [value]="n.value"> 
                                            {{n.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="col-xs-4 col-form-label control-label" style="color: #C63131;">Função</label>
                                <div class="controls col-xs-6">
                                    <select class="form-control" name="perfilUsuario" id="perfil-select" style="cursor: pointer;">
                                        <option *ngFor="let n of Funcao" [value]="n.value"> 
                                            {{n.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <br>
            <div>
                <br />
            <div id="perfil-sistema" class="col-md-12 panel-bd-top">
                    <div id="informacoesGerais">
                        <h3 style="color: #C63131">Sistemas</h3>
                    </div>
                    <br />
                    <div id="cadastro">
                        <span class="span-cadastro">Cadastro</span>
                        <a href="javascript://" class="link-form"> <i class="fa fa-caret-square-o-down"></i> </a> 
                        <h4>Papeis</h4>
                        <div class="papeis" *ngFor="let Perfil of Cadastro; let i=index">
                            <label> 
                                <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                {{Perfil.name}}
                            </label>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div id="auditoriaConcorrente">
                        <span class="span-cadastro">Auditoria Concorrente</span>
                        <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                        <h4>Papeis</h4>
                        <div class="papeis" *ngFor="let Perfil of AuditoriaConcorrente; let i=index">
                            <label> 
                                <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                {{Perfil.name}}
                            </label>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div id="pagamento">
                        <span class="span-cadastro">Pagamento</span>
                        <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                        <h4>Papeis</h4>
                        <div class="papeis" *ngFor="let Perfil of Pagamento; let i=index">
                            <label> 
                                <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                {{Perfil.name}}
                            </label>
                        </div>
                        <br />
                    </div>
                    <hr>
                    <div id="relatoriosBI">
                        <span class="span-cadastro">Relatórios BI</span> 
                        <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                        <h4>Papeis</h4>
                        <div class="papeis" *ngFor="let Perfil of RelatorioBI; let i=index">
                            <label> 
                                <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                {{Perfil.name}}
                            </label>
                        </div>
                        <br>
                    </div>
                    <hr>

                    <div id="credenciamento">
                        <span class="span-cadastro">Credenciamento</span> 
                        <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                        <h4>Papeis</h4>
                        <div class="papeis" *ngFor="let Perfil of Credenciamento; let i=index">
                            <label> 
                                <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                {{Perfil.name}}
                            </label>
                        </div>
                        <br>
                    </div>

                        <hr>
                        <div id="ais">
                            <span class="span-cadastro">Atenção Integral a Saúde</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of AIS; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <div id="core">
                            <span class="span-cadastro">Core</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Core; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="relacionamento">
                            <span class="span-cadastro">Relacionamento</span>   
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Relacionamento; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="relatorios">
                            <span class="span-cadastro">Relatórios</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Relatorios; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="cobranca">
                            <span class="span-cadastro">Cobrança</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Cobranca; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="setup">
                            <span class="span-cadastro">Setup</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Setup; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="analiseDeContas">
                            <span class="span-cadastro">Análise de Contas</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of AnaliseDeContas; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>                            <br>
                        </div>

                        <hr>
                        <div id="autorizacao">
                            <span class="span-cadastro">Autorização</span>  
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Autorizacao; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="atendimento">
                            <span class="span-cadastro">Atendimento</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Atendimento; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="editorDeRegras">
                            <span class="span-cadastro">Editor de Regras</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of EditorDeRegras; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>

                        <hr>
                        <div id="faturamento">
                            <span class="span-cadastro">Faturamento</span>
                            <a href="javascript://" class="link-form"><i class="fa fa-caret-square-o-down"></i></a>
                            <h4>Papeis</h4>
                            <div class="papeis" *ngFor="let Perfil of Faturamento; let i=index">
                                <label> 
                                    <input [checked]="Perfil.selected" type="checkbox" [value]="Perfil.value">
                                    {{Perfil.name}}
                                </label>
                            </div>
                            <br>
                        </div>
            </div>
            </div>        
        </form> 
    </section>
</main>
